<footer>
    <div class="container">
        <div class="columns">
            <div class="column is-half">Recent Posts</div>
            <div class="column is-half">Tags</div>
        </div>
        <div class="columns">
            <div class="column is-half">&copy;</div>
        </div>
    </div>
</footer>