<header class="hero is-primary is-large" style="background-image:url('{{@site.cover_image}}')">
    <div class="hero-head">
        <nav class="navbar is-primary container">
            <div class="container">
                <div class="navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu" id="navMenu">
                {{navigation}}
            </div>
        </nav>
    </div>
    <div class="hero-body has-text-centered" >
        <h1 class="title">{{@site.title}}</h1>
        <h2 class="subtitle">{{@site.description}}</h2>
    </div>
</header>