{{!< default }}

<main class="container">
    <div class="columns is-multiline">
        {{#foreach posts}}
            <div class="column is-half">
                {{> post_card}}
            </div>
        {{/foreach}}
    </div>
</main>

{{pagination}}