{{!< default }}



<main class="container">
    <div class="columns">
        {{#foreach posts}}
            <div class="column">
                {{> post_card}}
            </div>
        {{/foreach}}
    </div>


</main>

{{pagination}}