header {
    background-size: cover;
}

header .hero-head{
    background-color: rgba(0,0,0,0.85)!important;
    position: fixed;
    width: 100%;
    z-index: 999;

}

header .navbar-menu{
    background-color: transparent!important;
    width: 100%;
}

nav.pagination {
    margin: 1rem 0;
}

main.container {
    margin: 1rem auto 0;
}

footer .copyright {
    margin: 4rem auto 0;
}

