.card {
    margin: 1rem auto 0;
}

header {
    background-size: cover;
    margin-bottom: 1rem;
}

header .hero-head{
    background-color: rgba(0,0,0,0.85)!important;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.hero-body.is-post {
    padding: 1.6rem 1.5rem;
}

.navbar-menu {
    width: 100%;
}

.main_pagination {
    margin: 1rem auto;
}

footer {
    margin-top: 3rem;
}

footer .copyright {
    margin-top: 6rem;
}


/*post*/

main.post h1 {
    font-size: 3rem;
    margin: 0 auto 5rem;
}

main.post header section {
    margin: 6rem auto 0;
}

main.post header figure {
    margin: 0 -10vw -150px;
}

main.post header figure  img{
    width: 100%;
    object-fit: cover;

}

main.post section.content {
    position: relative;
    z-index: 50;
    margin: 0 5%;
    padding: 5rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

main.post footer {
    margin: 3rem 5% 6rem;
    background-color: white;
}

/*post end*/